# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# generated
src/lib/placeholder-images.json
src/lib/firebase-admin.ts
/src/lib/firebase/firebase-admin-sdk.ts
/src/lib/auth-context.tsx
/src/firebase
/src/app/auth/login/futuristic-login.css

# Firebase
/src/firebase/client.ts
/src/firebase/config.ts
/src/firebase/provider.tsx
/src/firebase/client-provider.tsx
/src/firebase/index.ts
/src/firebase/auth/use-user.tsx
/src/firebase/firestore/use-collection.tsx
/src/firebase/firestore/use-doc.tsx
/src/firebase/memo.ts
/src/firebase/errors.ts
/src/firebase/error-emitter.ts
/src/components/FirebaseErrorListener.tsx
